body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .forca {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 380px;
  }
  
  .forca > div {
    width: 10px;
    background-color: brown;
    margin-right: 10px;
    display: none;
  }
  
  .word-display {
    font-size: 24px;
    margin-top: 20px;
  }
  
  .attempts-left, .used-letters {
    font-size: 18px;
    margin-top: 10px;
  }
  
  #guessInput {
    margin-top: 10px;
  }
  
  #guessButton {
    margin-top: 10px;
    border-radius: 20px;
    background-color: azure;
  }
  #restart {
    background-color:lightcoral;
    border-radius: 20px;
  }
  #forcanaperuca{
    width: 500px;
    height: 400px;
  }